doctype html
html
  head
    title YUGI
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header
      h1 Search result for
      input(type='text', , id='search' placeholder=name)
      input(type='hidden', id='submit', value='Submit')
    block content
    footer
      h3 Brought to you by Auryon
      h3 Copyright © Studio Dice/SHUEISHA, TV TOKYO, KONAMI
